.layout-container {
  display: flex;
}

app-sidebar {
  width: 250px;
  background-color: #f8f9fa;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
}
